<footer class="footer">
  <div class="container">
    <p class="footer-desc">
      Made with ✨ by
      <a
        class="footer-link"
        href="https://goit.global/ua/"
        target="_blank"
        rel="noopener noreferrer"
      >
        GoIT team
      </a>
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam fugiat
      pariatur ipsam laudantium ipsa dignissimos inventore, architecto
      distinctio quos facilis voluptate quisquam error vero voluptatum.
      Consectetur incidunt officiis blanditiis ducimus?
    </p>
  </div>
</footer>
